## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## NuGet
*.nupkg
*.snupkg
packages/

## Coverage & Logs
CodeCoverage/
*.binlog
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

## Rider / VS / IDE cache
.vs/
*.db
*.db-shm
*.db-wal
*.vsidx
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Others
~$*
*~
*.swp
*.tmp
*.temp
*.log